:root {
  --metro-white: #fff;
  --metro-black: #626462;
  --metro-blue: #047db5;
  --metro-light-blue: #dbf4fd;
  --metro-gray: #eeeeee;
  --metro-light-gray:rgb(245, 245, 245);
  --metro-dark-gray: #cecece;
  --metro-yellow: #ffd200;
}