.metro {
  &-transit {
    &--mobile_menu {
      background: transparent;
      border: 0;
      color: var(--metro-black);
      font-size: 14px;
      letter-spacing: 1px;
      position: relative;
      text-align: left;
      text-transform: uppercase;
      width: 25vw;

      &:after {
        content: '';
        background: url('https://www.metrotransit.org/img/svg/chevron-down-gray.svg') top center no-repeat;
        height: 15px;
        right: 15px;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        transition: all .25s ease-out;
        width: 15px;
      }

      &[data-active='true'] {
        &:after {
          content: '';
          transform: translateY(-50%) rotate(-180deg);
        }
      }

      @media (min-width: 768px) {
        width: 15vw;

        &:after {
          content: '';
          right: 25px;
        }
      }

      @media (min-width: 1024px) {
        display: none;
        padding-inline-start: 10px;
      }
    }

    &--navigation {
      display: flex;
      margin: 0 auto;
      max-width: 1440px;
      width: 100vw;

      &_menu {
        align-items: center;
        background: var(--metro-white);
        display: flex;
        flex-direction: column;
        height: 0;
        list-style: none;
        left: 0;
        margin: 0;
        overflow: hidden;
        padding: 0;
        position: absolute;
        top: 55px;
        transition: all .25s ease-out;
        width: 100vw;
        z-index: 10;

        @media (min-width: 1024px) {
          align-items: center;
          display: flex;
          height: auto;
          flex-direction: row;
          list-style: none;
          left: unset;
          margin: 0;
          padding: 0;
          position: relative;
          top: unset;
          width: unset;
        }

        &[data-active='true'] {
          height: 100vh;
        }
      }
      
      &_menuItem {
        margin: 0;
        padding: 0;
        width: 100%;

        @media (min-width: 1024px) {
          width: unset;
        }
      }
     
      &_menuAnchor {
        color: var(--metro-black);
        border-bottom: thin solid var(--metro-gray);
        display: block;
        font-size: 18px;
        margin: 0;
        padding: 25px 25px;
        text-decoration: none;
      }
    }
  }
}